@import '../../styles/mixins';
.fm-company-container {
    margin: 0.2rem 0.2rem 0 0.2rem;
    padding: 0.2rem;
    border-radius: 0.8rem;
    -webkit-box-shadow: 0.02rem 0.06rem 0.6rem #87959cf0;
    box-shadow: 0.02rem 0.06rem 0.6rem #87959cf0;
    border: 2px solid #d7e0e8;
    background-color: #eaeff5;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    @include font-size(14px);
    .left-part {
        margin-right: 0.2rem;
        .company-photo {
            width: 3rem;
            height: 3rem;
            img {
                width: inherit;
                height: inherit;
                border-radius: 0.3rem;
            }
        }
    }
    .right-part {
        color: #3C4452;
        .item-border-bottom {
            border-bottom: 1px solid #bccbda;
            margin-bottom: 0.1rem;
            line-height: initial;
        }
        .nonstop-places-wrapper {
            .title {
                color: #777777;
                @include font-size(14px);
                font-weight: 600;
                font-family: fantasy;
            }
        }
        .company-name-wrapper {
            display: flex;
            align-items: center;
            .groom-label {
                background-color: #8a9ae6;
                color: #fff;
                border-radius: 0.07rem;
                padding: 0 0.1rem;
                @include font-size(11px);
                height: 0.38rem;
                line-height: 0.38rem;
            }
            .company-name {
                margin-left: 0.1rem;
                font-weight: bold;
            }
        }
        .nonstop-route-wrapper {
            display: flex;
            align-items: center;
            .target-place {
                height: inherit;
                .nonstop-label {
                    display: inline-block;
                    vertical-align: middle;
                    color: #fff;
                    border-radius: 0.07rem;
                    padding: 0 0.1rem;
                    height: 0.55rem;
                    line-height: 0.55rem;
                    background-color: #a2df9a;
                    margin-left: 0.1rem;
                    @include font-size(11px);
                    height: 0.38rem;
                    line-height: 0.38rem;
                }
            }
            .chang-icon {
                img {
                    width: 0.5rem;
                    height: 0.5rem;
                }
            }
        }
    }
    &:active {
        background-color: #e6eef5;
        -webkit-box-shadow: -0.02rem -0.02rem 0.2rem #87959cf0;
        box-shadow: -0.02rem -0.02rem 0.2rem #87959cf0;
        position: relative;
        top: -2px;
    }
} 