<div class="company-detail-page">
    <div class="photo-container">
        <fm-image-swiper ng-if="true" media="media"></fm-image-swiper>
        <img class="non-media-photo" ng-if="false" src="" />
      </div>

      <div class="product-detail-container">
        <div class="section-header">
            <div class="section-icon"></div>
            <div class="title">企业信息</div>
        </div>
        <div class="product-field name">
          <label class="filed-label">
            <span>公司</span>
            <div class="chang-icon"><img src="../../../images/location.svg"></div>
            :
          </label>
          <div class="value">
            <div class="left-value" ng-bind="isNotEmpty(companyDetail.companyName) ? companyDetail.companyName : '匿名'"></div>
          </div>
        </div>
        <div class="product-field">
            <label class="filed-label">
                <span>移动电话</span>
                <div class="chang-icon"><img src="../../../images/mobile-phone.svg"></div>
                :
            </label>
            <div class="value" ng-bind="isNotEmpty(companyDetail.mobilePhone) ? companyDetail.mobilePhone : '暂未设置'"></div>
        </div>
        <div class="product-field">
            <label class="filed-label">
                <span>固定电话</span>
                <div class="chang-icon"><img src="../../../images/local-phone.svg"></div>
                :
            </label>
            <div class="value" ng-bind="isNotEmpty(companyDetail.phone) ? companyDetail.phone : '暂未设置'"></div>
        </div>
        <div class="product-field">
                <label class="filed-label">
                    <span>地址</span>
                    <div class="chang-icon"><img src="../../../images/position.svg"></div>
                    :
                </label>
            <div class="value" ng-bind="isNotEmpty(companyDetail.companyAddr) ? companyDetail.companyAddr : '暂未设置'">中山市东凤镇天润物流市场第22栋</div>
        </div>

        <div class="shipping-container">
            <div class="header" ng-click="clickShippingDetail(showShippingDetail)">
              <div class="section-icon"></div>
              <div class="title">
                <span class="label-shipping">专线概况</span>
                <img src="../../../images/shipping-icon.png">
              </div>
              <div class="arrow-icon">
                <img ng-if="!showShippingDetail" src="../../../images/nav-left.png"/>
                <img ng-if="showShippingDetail" src="../../../images/nav-right.png"/>
              </div>
            </div>
            <div id="shipping-detail" class="shipping-detail hideDetail">
              <div class="nonstop-places-wrapper item-border-bottom">
                  <span class="title">直达: </span>
                  <span class="places-list" ng-bind="isNotEmpty(nonStopPlaces) ? nonStopPlaces : '暂无业务范围'"></span>
              </div>
              <div class="nonstop-places-wrapper item-border-bottom">
                  <span class="title">中转: </span>
                  <span class="places-list" ng-bind="isNotEmpty(transferPlaces) ? transferPlaces : '暂无业务范围'"></span>
              </div>
            </div>
          </div> 
      </div>

      

      <div class="detail-audio-container">
        <div class="section-header">
            <div class="section-icon"></div>
            <div class="title">企业概览</div>
        </div>
        <div class="audio-content">
          <div class="picture-help-text" ng-if="false">商家暂未上传商品展示图</div>
          <img src="../../../images/sample1.jpg" ng-if="true" />
          <img src="../../../images/sample2.jpg" ng-if="true" />
          <div class="description-text" ng-bind="{{companyDetaildetailIntroduction}}"></div>
        </div>
      </div>

</div>