<div class="fm-company-container"  ng-click="goToCompanyDetail(company.id)">
    <div class="left-part">
        <div class="company-photo">
            <img class="company-img" src="../../images/aa.jpg"/>
        </div>
        <div class="concern-wrapper"></div>
    </div>
    <div class="right-part">
        <div class="company-name-wrapper">
            <div class="groom-label">推荐</div>
            <div class="company-name">鑫鑫物流</div>
        </div>
        <div class="nonstop-route-wrapper item-border-bottom">
            <div class="origin-place">中山</div>
            <div class="chang-icon"><img src="../../images/repeat-icon.svg"></div>
            <div class="target-place">
                <span>成都, 重庆</span>
                <div class="nonstop-label">直达</div>
            </div>
        </div>
        <div class="nonstop-places-wrapper item-border-bottom">
            <span class="title">直达: </span>
            成都,四川，湖北，武汉
        </div>
        <div class="nonstop-places-wrapper item-border-bottom">
            <span class="title">中转: </span>
            成都,四川，湖北，武汉
        </div>
        <div class="nonstop-places-wrapper item-border-bottom">
            <span class="title">总部: </span>
            浙江招生山大倒萨的撒大苏打撒旦撒旦
        </div>
        <div class="contacts item-border-bottom">
            <span>联系人: </span> 刘伟
        </div>
        <div class="phone item-border-bottom">
                <span>电话: </span> 15555555555
        </div>
    </div>
</div>